{{#partial "title" }}
    Check out my travel photos! <!-- I've changed!-->
{{/partial}}
{{#partial "content"}}
    <h1>Favorite Traveling Photos</h1>
    <ul>
        <p><a href='/hello' >Go back.</a></p>
        <li><img src='/images/one.jpg' alt='A photo of a person. width=500px height=400px'/></li>
        <li><img src='/images/two.jpg' alt='A photo of a mountain. width=500px height=400px'/></li>
    </ul>
{{/partial}}

{{> layouts.hbs}}